.main-button{
    margin-top: 10px;

    font-size: 25px;
    font-weight: bold;

    border-radius: 3px;
    width: 120px;
    height: 40px;
    
    cursor: pointer;

    background-color: #ffb142;
    border: 4px solid #FFF;
}

.main-button:hover{
    background-color: #000;
    color: #ffb142;
}