.main-component{
    font-weight: normal;
    font-size: 30px;

    border: thick double #FFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px; 
}

.inputs{
    width: 55px;

    margin-left: 10px;
    margin-right: 3px;
}

.inputs.hour{
    width: 35px;
}
.inputs.reg{
    width: 60px;

    margin-right: none;
}

.inputs.velocity{
    margin-left: none;
    margin-right: 8px;
}


.quantity{
    margin-top: 10px;
}

.lines{
    display: flex;
    justify-content: flex-end;

    margin-bottom: 4px;
}

.result{
    display: flex;

    margin-top: 40px;
}