.main-component{
    font-weight: bold;
    font-size: 30px;

    border: thick double #FFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px; 
}

.box{
    width: 50px;
}

.time{
    margin-top: 10px;
    
}

.quantity{
    margin-top: 10px;
}

.button{
    margin-top: 10px;

    font-size: 20px;

    border-radius: 3px;
    width: 80px;
    height: 30px;
    
    background-color: #ffb142;
    border: 2px solid #FFF;
}

.button:hover{
    background-color: #000;
    color: #ffb142;
}

.result{
    display: flex;


    margin-top: 40px;
}


/*BOTAO E RESULTADO DAS MESAS CORES*/