.main-component{
    font-weight: normal;
    font-size: 30px;

    border: thick double #FFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px; 
}

.box{
    width: 45px;

    margin-left: 10px;
    margin-right: 3px;
}

.quantity{
    margin-top: 10px;
}

.inputs{
    display: flex;
    justify-content: flex-end;

    margin-bottom: 4px;
}

.result{
    display: flex;

    margin-top: 40px;
}